/Address.class
/IAuthentication.class
/IDatabase.class
/IRequestProcessor.class
/IShipMate.class
/Main.class
/RequestAction.class
/RequestProcessor.class
/Database.class
/Authenticate.class
/Authentication.class
/ShipMate.class
/SuccessQuery.class
